<div class="container">
    <footer class="footer">
        <p>
                <%= render 'newsletters/index' %>
        </p> 
        <small>
            2019 &copy;  My Blog. All rights reserved. Designed by: <a href="#">MrClick</a>        
        </small>    
        <nav>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About Us', welcome_about_path %></li>
                <li><%= link_to 'Contact Us', "#" %></li>
            </ul>
        </nav>
    </footer>    
</div>